{% if article %}
    <div>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <!-- <a href="https://twitter.com/share?text={{ article.title|striptags }} on"
           onclick="window.open(this.href, 'twitter-share', 'width=550,height=235'); return false;">
            <i class="fa fa-twitter mdl-color-text--primary"
               aria-hidden="true"></i>
        </a> -->
    </div>
    <!-- <div>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ SITEURL ~ '/' ~ article.url|urlencode }}"
           onclick="window.open(this.href, 'facebook-share', 'width=580,height=296'); return false;">
            <i class="fa fa-facebook mdl-color-text--primary" aria-hidden="true"></i>
       </a>
    </div> -->
{% endif %}
